/* app css stylesheet */

.a-layout {
  position: relative;
/*  background-color: red;*/
  width:  10px;
  height:  10px;
}

.a-block {
  position: absolute;
  background-color: "#ffcccc";
}

.a-screen p {
  color:white;
}

#top {
  background-color: #ddd;
}
#bottom {
  background-color: #dff;
}