/* app css stylesheet */

.a-layout {
  position: relative;
/*  background-color: red;*/
  width:  10px;
  height:  10px;
}

.a-block {
  position: absolute;
  background-color: "#ffcccc";
}

.a-screen p {
  color:white;
}
.my-overlay {
/*  color: white;*/
}

.my-overlay .back {
  position:absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter:alpha(opacity=70);
  z-index: -1;
}

.my-panel {
  background-color: #FFF;
  color: black;
  width: 400px;
}

an-overlay a, an-overlay a:visited, an-overlay a:active{
  color: #ffff00;
}

#top {
  background-color: #ddd;
}
#bottom {
  background-color: #dff;
}