/* app css stylesheet */

.a-layout {
  position: relative;
  background-color: red;
  width:  10px;
  height:  10px;
}

.a-block {
  position: absolute;
  background-color: blue;
}

.a-screen p {
  color:white;
}