<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="AppCtrl">
   <input type="button" name="show" value="Show" id="show" ng-click="$broadcast('show')">
  <a-layout>
   <a-block id="top" be-slidey="height">
      <a-screen ng-controller="SubCtrl">
         <div>
            <p>Test = {{test}}</p>
            <p>Screen height = {{_screen.calculateHeight()}}</p>
            <p><a ng-click="_screen.show('screen-2')">Show Screen 2</a></p>
            <p><a ng-click="_screen.hide()">Hide</a></p>
         </div>
      </a-screen>
      <a-screen with-name="screen-2">
         <div>
            <p>Screen2</p>
            <p><a ng-click="_screen.show('screen')">Show Screen 1</a></p>
            <br>
            <br>
            <p><a ng-click="_block.hide()">Hide Block!</a></p>
            <br>
         </div>
      </a-screen>
   </a-block>
   <a-block id="bottom" id="other-block" be-slidey="y,height">
      <a-screen with-name="thisScreen">
         <div ng-click="_screen.show('otherScreen')">
            <p>asdf</p>
         </div>
      </a-screen>
      <a-screen with-name="otherScreen">
         <div ng-click="_screen.show('thisScreen')">
            <p>asdfasdfsdf</p>
            <p>asdfasdfsdf</p>
            <p>asdfasdfsdf</p>
            <p>asdfasdfsdf</p>
         </div>
      </a-screen>
   </a-block>
</a-layout>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/layoutBase.js"></script>
  <script src="js/layout.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
