<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="AppCtrl">
  <a-layout>
	<a-block be-slidey="x,y,width,height,opacity">
		<a-screen>
			<div ng-controller="SubCtrl">
				<p>{{test}}</p>
				<label for="x-position">x</label><input type="text" ng-model="xPosition" ><br>
				<label for="y-position">y</label><input type="text" ng-model="yPosition"><br>
				<label for="height">Height</label><input type="text" ng-model="height"><br>
				<label for="width">Width</label><input type="text" ng-model="width"><br>
				<label for="opacity">opacity</label><input type="text" ng-model="opacity"><br>
				<input type="button" value="Apply Position" ng-click="setPosition(positions())"><br>
				<input type="button" value="Double up X" ng-click="update()">
			</div>
		</a-screen>
	</a-block>
</a-layout>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/layout.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
