<!DOCTYPE html>
<html ng-app="myApp">
   <head>
      <meta http-equiv="Content-type" content="text/html; charset=utf-8">
      <title>overlay Gist</title>
      
   </head>
   <body id="overlay">
      <div a-layout>
         <div a-block>
            <div a-screen>
               <p><a ng-click="_layout.overlay().show('error-message')">Show Layout Overlay</a></p>
               <p><a ng-click="_block.overlay().show('block-overlay')">Show Block Overlay</a></p>
               <p><a ng-click="_screen.overlay().show('screen-overlay')">Show Screen Overlay</a></p>
               <div an-overlay with-name="screen-overlay">
                  <p>This is a screen overlay</p>
               </div>
            </div>
            <div an-overlay with-name="block-overlay">
               <div an-overlay-panel="center">
                  <p>This is a block overlay</p>
               </div>
            </div>
         </div>
         <div an-overlay with-name="error-message">
            
            <h2>There was an error</h2>
            <p>Please Try again</p>
            <input type="button" name="tryagain" value="Try Again" id="tryagain" ng-click="_overlay.hide()">
         </div>
      </div>
         <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
         <script src="lib/angular/angular.js"></script>
         <script src="js/app.js"></script>
         <script src="js/services.js"></script>
         <script src="js/controllers.js"></script>
         <script src="js/filters.js"></script>
         <script src="js/layoutBase.js"></script>
         <script src="js/layout.js"></script>
         <script src="js/directives.js"></script>
   </body>
</html>