<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="AppCtrl">
   <input type="button" name="show" value="Show Screen 1" id="show" ng-click="$broadcast('show', 'screen')">
   <input type="text" name="rootvalue" value="" id="rootvalue" ng-model='rootValue'>
  <div a-layout>
   <div a-block id="top">
      <div a-screen with-name="screen" ng-controller="SubCtrl">
         <div>
            <p>Test = {{test}}</p>
            <p>Screen height = {{_screen.calculateHeight()}}</p>
            <p><a ng-click="_screen.show('screen-2')">Show Screen 2</a></p>
            <p><a ng-click="_screen.hide()">Hide</a></p>
         </div>
      </div>
      <div a-screen with-name="screen-2">
         <div>
            <p>Screen2</p>
            <p><a ng-click="_screen.show('screen')">Show Other Screen</a></p>
            <br>
            <p><a ng-click="_layout.overlay().show()">Show Layout Overlay</a></p>
            <p><a ng-click="_block.overlay().show()">Show Block Overlay</a></p>
            <p><a ng-click="_screen.overlay().show()">Show Screen Overlay</a></p>
            <br>
            <br>
            <br>
         </div>
          <div an-overlay with-name="overlayA" class="my-overlay">
            <div an-overlay-panel class="my-panel">
               <p>Hello Overlay</p>
               <p>{{rootValue}}</p>
               <p><input type="button" ng-click="_overlay.show('overlayB')" value="Show overlay B"></p>
               <p><input type="button" ng-click="_overlay.hide()" value="Hide Overlay"></p>
               <p><input type="button" ng-click="_parent.hide()" value="Hide Parent"></p>
            </div>
            <div ng-click="_overlay.hide()" class="back"></div>
         </div>
      </div>
       <div an-overlay with-name="someBlockOverlay" class="my-overlay">
         <div an-overlay-panel class="my-panel">
            <p>Hello Overlay</p>
            <p>{{rootValue}}</p>
            <ng-switch on="_parent.currentScreen">
               <p ng-switch-when="screen"><input type="button" ng-click="_parent.currentScreen = 'screen-2'" value="Show Screen 2"></p>
               <p ng-switch-when="screen-2"><input type="button" ng-click="_parent.currentScreen = 'screen'" value="Show Screen 1"></p>
            </ng-switch>
            <p><input type="button" ng-click="_overlay.hide()" value="Hide Overlay"></p>
         </div>
         <div ng-click="_overlay.hide()" class="back"></div>
      </div>
   </div>
   <div a-block id="bottom" id="other-block">
      <div a-screen with-name="thisScreen">
         <div ng-click="_screen.show('otherScreen')">
            <p>asdf</p>
         </div>
      </div>
      <div a-screen with-name="otherScreen">
         <div>
            <p>asdfasdfsdf</p>
            <p>asdfasdfsdf</p>
            <p>asdfasdfsdf</p>
         </div>
      </div>
   </div>
    <div an-overlay with-name="overlayA" class="my-overlay">
      <div an-overlay-panel class="my-panel" be-slidey="x,y">
         <p>Hello Overlay</p>
         <p>{{rootValue}}</p>
         <p><input type="button" ng-click="_overlay.show('overlayB')" value="Show overlay B"></p>
         <p><input type="button" ng-click="_overlay.hide()" value="Hide Overlay"></p>
      </div>
      <div ng-click="_overlay.hide()" class="back"></div>
   </div>
    <div an-overlay with-name="overlayB" class="my-overlay">
      <div an-overlay-panel be-slidey="height,x,y" class="my-panel">
         <p>Hello Overlay B</p>
         <p>{{rootValue}}</p>
         <p><input type="button" ng-click="_overlay.show('overlayA')" value="Show overlay A"></p>
         <p><input type="button" ng-click="_overlay.hide()" value="Hide Overlay"></p>
      </div>
      <div ng-click="_overlay.hide()" class="back"></div>
   </div>
</div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="http://code.angularjs.org/1.0.0rc10/angular-1.0.0rc10.min.js"></script>
  <script src="http://fluid-src.appspot.com/angular-layout/1.0/fl_layout.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
